<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ecs.wonderful200.localpicture027">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:appComponentFactory=""
        tools:replace="android:appComponentFactory">

        <activity android:name=".LocalPictureActivity"></activity>
        <activity android:name=".ShowImageActivity"></activity>
    </application>

</manifest>