<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ecs.wonderful200.asexcel">

    <application>
        <activity android:name=".AsExcelActivity"></activity>
        <activity android:name=".UserInfoActivity"></activity>
    </application>

</manifest>