<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ecs.androidwonderful200">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".menudialog.weimenu01.WeiMenu01Activity" />
        <activity android:name=".menudialog.AnnouncementDrawer02.AnnouncementDrawer02Activity" />
        <activity android:name=".menudialog.QQMenu03.QQMenu03Activity" />
        <activity android:name=".menudialog.SatellistMenu04.SatellistMenu04Activity" />
        <activity android:name=".menudialog.AnimDialog05.AnimDialog05Activity" />
        <activity android:name=".menudialog.MessageNotifcation06.MessageNotifcation06Activity" />
        <activity android:name=".menudialog.MessageNotifcation06.MessageActivity"></activity>
    </application>

</manifest>